 <form method="post" action="" onsubmit="submit.disabled = true; return true;">
    <input
        name        = "thread_title"
        id          = "thread_title_input"
        class       = "common-text-input"
        value       = "{{thread_title}}"
        placeholder = "Descriptive title"
        required />

    <textarea
        name        = "thread_data"
        id          = "thread_data_textarea"
        class       = "common-textarea"
        data-source-format = "markdown"
        onkeyup     = "previewAjax( 'thread_data_textarea', 'preview', show_raw=true, mathjax={{ request.mathjax }} )"
        placeholder = "What do you want to say? markdown"
        required></textarea>

  <label for="source_format_select" style="display:inline-block;margin-right:0.5em">format:</label>
  <select id="source_format_select" name="source_format"
          onchange="document.getElementById('thread_data_textarea').dataset.sourceFormat = this.value; previewAjax('thread_data_textarea', 'preview', show_raw=true, mathjax={{ request.mathjax }})">
    <option value="markdown" selected>markdown</option>
    <option value="rst">reStructuredText</option>
    <option value="html">html</option>
    <option value="mediawiki">mediawiki</option>
    <option value="latex">latex</option>
    <option value="org">org</option>
    <option value="asciidoc">asciidoc</option>
    <option value="textile">textile</option>
  </select>

  <div id='preview' name='preview' class="preview"></div>

{% include 'csrf.j2' %}

{% set show_whats_next = true %}
{% include 'email.j2' %}

{% set submit_button_classes = 'button-right' %}
{% set submit_button_value = 'create thread' %}
{% include 'submit.j2' %}

 </form>
