{% extends request.base_template -%}

{% import 'snippets/forms.j2' as forms with context %}

{% block title %}{% if request.node.title is not none %}{{ request.node.title }} | {% endif %}{{ request.domain }}{% endblock -%}

{% block call_to_action %}
{% if request.node.is_root and request.user.authenticated %}
  {% if request.user.get_watcher_by_node_id(request.node.id) %}
  {{ snippets.unwatch_node(node_id = request.node.id) }}
  {% else%}
  {{ snippets.watch_node(node_id = request.node.id) }}
  {% endif %}

  {% if request.node.root.namespace.is_moderator(request.user) %}
    {% if request.node.locked %}
    {{ snippets.unlock_node(node_id = request.node.id) }}
    {% else%}
    {{ snippets.lock_node(node_id = request.node.id) }}
    {% endif %}
  {% endif %}
{% endif %}

{%- if request.user.authenticated and request.mode == "embed" %}
  <span class="avoidwrap">
  {{ snippets.user_avatar_link(request.user, 35, class="avatar-nav") }}
  </span>
{% else %}
  <a href="{{ domain_app }}{% if request.mode == "embed" %}{{ request.link_prefix }}{% endif %}/join-or-log-in{% if request.mode == "basic" %}?return-to={{ request.path_url }}{% elif request.node and request.mode == "embed" %}?thread_uri={{ request.node.root.uri.data }}{% endif %}" style="display: none;">join-or-log-in</a>
{%- endif %}


{% endblock %}

{% block content -%}


{% if request.mode != "embed" and request.node.root.uri %}
<span class="topic">Topic: <a href="{{ request.node.root.uri.data }}" target="_blank" rel="nofollow">{{ request.node.root.uri.data }}</a></span>
{% endif %}


{% if request.node.has_uri == false %}

{% if request.node.title is not none %}
<h2 class="title"><a href="{{ request.node.path }}">{{ request.node.title }}</a></h2>
{% endif %}

<a class="anchor" id="{{ request.node.id }}"></a>
<div id="node-{{ request.node.id }}" class="node">
  {{ snippets.node_avatar_link(request.node) }}
  {{ snippets.author_and_date(request.node) }}
  {{ snippets.status(request.node) }}

  <div id="node-data-{{ request.node.id }}" class="node-data">
  {% if not request.namespace.can_see_node(request.node, request.user) %}
  <p>{{ snippets.status(request.node) }}</p>
  {% else %}
  {{ request.node.data_html | safe }}
  {% endif %}
  </div>

  {% if not request.node.is_root %}

    <a href="{{ request.link_prefix }}{{ request.node.root.path }}" class="action">root</a>

  {% endif %}

  <div class="node-actions">
  {{ snippets.actions(request.node) }}
  </div>

</div>
{% endif %}

<div id="edit-box-{{ request.node.id }}" class="edit-box-div">
   {{ forms.edit(request.node) }}
</div>

<div id="remark-box-{{ request.node.id }}" class="remark-box-div-main not-hidden-remark-box-div">
   {{ forms.reply(request.node, request.root) }}
</div>

{#- prevent DetachedInstanceError from iterating over node not in database. #}
{%- if request.node.id and request.node_graph[request.node.id] -%}

{%- for node_id in request.node_flat_graph -%}

  {% set node = request.node_id_map[node_id] %}  

  {%- if request.namespace.can_see_node(node, request.user) or (request.namespace.hide_unless_approved and node.approved) %}

    {%- if node.depth == 1 %}
    {%- set avatar_size = request.avatar_size -%}
    {%- else -%}
    {%- set avatar_size = request.avatar_size * 0.75 -%}
    {%- endif -%}

    <a class="anchor" id="{{ node.id }}"></a>
    <div id="node-{{ node.id }}" class="node node-depth-{{ node.depth }}">

    {{ snippets.node_avatar_link(node, size=avatar_size) }}
    {{ snippets.author_and_date(node) }}
    {{ snippets.status(node) }}

    <div id="node-data-{{ node.id }}" class="node-data">
    {%- if not request.namespace.can_see_node(node, request.user) %}
    <p>{{ snippets.status(node) }}</p>
    {%- else %}
    {{ node.data_html | safe }}
    {%- endif %}
    </div>

    <div class="node-actions">
    {{ snippets.permalinks(node, node) }}
    {{ snippets.actions(node) }}
    {{ snippets.button_collapse(node) }}
    </div>

    <div id="edit-box-{{ node.id }}" class="edit-box-div">
       {{ forms.edit(node) }}
    </div>

    <div id="remark-box-{{ node.id }}" class="remark-box-div">
       {{ forms.reply(node, request.root) }}
    </div>
    
    {# close the class="node" div #}
    </div>

  {%- endif -%}
{%- endfor -%}

{%- else -%}
<center>
<br/>
<br/>
{% if request.namespace.no_nodes_text %}
<strong class="no-nodes-text">{{ request.namespace.no_nodes_text }}</span></strong>
{% else %}
<strong class="no-nodes-text">Leave a comment to <span class="avoidwrap">get the conversation going!</span></strong>
{% endif %}
</center>
{% endif %}

{% endblock %}
